* {
	scrollbar-width: thin;
}

body {
	@apply bg-dark;
}

html,
body {
	height: 100%;
}

html {
	background: none;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

.markdown-body ul {
	list-style: unset;
	padding-left: 1.2rem;
}

.front-code > pre {
	@apply text-sm lg:text-base;
}
