h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

body {
	@apply bg-dark;
}

html,
body {
	height: 100%;
}

html {
	background: none;
    overflow-x: hidden;
	overscroll-behavior-y: none;
}

.markdown-body ul {
	list-style: unset;
}

* {
	scrollbar-width: thin;
}
