* {
	scrollbar-width: thin;
}

body {
	@apply bg-dark;
}

html,
body {
	height: 100%;
}

html {
	background: none;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

.markdown-body ul {
	list-style: unset;
	padding-left: 1.2rem;
}

.heading {
	@apply font-sand font-semibold uppercase tracking-wider text-4xl text-white text-center 
        after:content-center after:block after:my-3 after:mx-auto after:w-8 after:h-0.5 after:bg-boneWhite after:opacity-25;
}

.front-code > pre {
	@apply text-sm lg:text-base;
}
